/* disable default margin & padding */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --bg: #121212;
    --fg: #ffc;

    --nav-height: 4rem;
    /* --hero-height: 85vh; */
    --hero-height: 40vw;

    --button-fg: var(--fg);
    --button-hover-fg: var(--bg);
    --button-trans-time: .3s;

    --contact-trans-time: .8s;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    position: absolute;
    background: linear-gradient(var(--bg) 0, transparent 100%);

    font-size: 150%;

    height: var(--nav-height);
    width: calc(100vw - 4rem);
    padding: .65rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    /* disable default stuff */
    text-decoration: none;
    color: inherit;
}

nav .title {
    font-size: 150%;
    font-weight: normal;
    /* font-family: "Courier Prime", monospace; */

    background: linear-gradient(var(--fg) 0 0) no-repeat;
    background-size: 0 2px;
    background-position: bottom left;
    transition: .3s;
}

nav .title:hover {
    background-size: 100% 2px;
}

nav .nav-list {
    display: flex;
}

nav .nav {
    margin: 0 1em;
    padding: .25em .5em;
    border-radius: 1em;

    /* hover effect */
    background: linear-gradient(var(--fg) 0 0) no-repeat;
    background-position: right;
    background-size: 0;

    transition: .3s, background-position 0s;
}

nav .nav:hover {
    background-size: 100%;
    background-position: left;
    color: var(--bg);
}

.hero {
    height: var(--hero-height);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-media {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: var(--hero-height);
    object-fit: cover;
}

.hero-media-bottom {
    object-position: bottom;
}

.hero-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: calc(var(--hero-height) * .75);

    font-size: 600%;
    font-weight: 300;
}

.hero-buttons * {
    padding: 0 2rem;

    cursor: pointer;
    transition: translate .4s;

    user-select: none;
}

.hero-prev:hover {
    translate: 1rem;
}

.hero-next:hover {
    translate: -1rem;
}

.hero-info {
    padding: 0 4rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    height: 7rem;

    background: linear-gradient(transparent 0, var(--bg) 100%);

    position: absolute;
    width: calc(100vw - 8rem);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

.hero-info p {
    max-width: 50%;
    font-size: 200%;
    text-align: center;
}

.hero-right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    max-height: 80%;
    object-fit: scale-down;
}

.hero-logo.hero-princess-starshine-logo {
    margin-top: -12%;
    max-height: 130%;
}

.hero .button {
    margin: 1.25rem 0;
}

.button {
    text-decoration: none;

    color: var(--button-fg);
    font-size: 150%;

    border: solid 2px var(--button-fg);
    border-radius: 1em;
    padding: .3em .7em;

    display: flex;
    align-items: center;

    background: linear-gradient(var(--button-fg) 0 0) no-repeat;
    background-size: 0 100%;
    background-position: right;

    transition: background-size var(--button-trans-time), color var(--button-trans-time);
}

.button:hover {
    color: var(--button-hover-fg);
    background-size: 100% 100%;
    background-position: left;
}

.button-icon::before {
    --icon-size: .95em;

    content: "";

    background-color: var(--button-fg);  
    background-repeat: no-repeat;
    transition: background-color var(--button-trans-time);

    -webkit-mask-image: var(--button-icon);
    mask-image: var(--button-icon);
    mask-size: var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;

    height: var(--icon-size);
    width: var(--icon-size);


    margin-right: .3em;
}

.button-icon:hover::before {
    background-color: var(--button-hover-fg);  
}

.button-yt {
    --button-fg: #ff0000;
}

.button-yt::before {
    --button-icon: url("media/youtube.png");
}

.button-itch {
    --button-fg: #fa5c5c;
}

.button-itch::before {
    --button-icon: url("media/itchio.svg");
}

.button-itch::after {
    content: "itch.io";
}

.button-github {
    --button-fg: #fff;
}

.button-github::before {
    --button-icon: url("media/github.svg");
}

.button-github::after {
    content: "GitHub";
}

.button-mail::before {
    --button-icon: url("media/mail.svg");
}

.hero-button-container {
    display: flex;
}

.hero-button-container > .button:not(:last-child) {
    margin-right: 1em;
}

.hero-hidden {
    display: none;
}

.hero-spacer {
    height: 3rem;
}

/* hero animation */
@keyframes slide-in {
    from {
        translate: 10vw 0;
        opacity: 0;
    }
    
    to {
        translate: 0 0;
        opacity: 100%;
    }
}

@keyframes slide-out {
    from {
        translate: 0 0;
    }
    
    to {
        translate: -10vw 0;
    }
}

.hero-media, .hero-info {
    opacity: 0;
    transition: opacity 1s;
}

.hero-info > * {
    animation-duration: 1s;
    animation-name: slide-out;
}

.hero-info.hero-active > * {
    animation-duration: 1s;
    animation-name: slide-in;

    left: 0rem;
}

.hero-info.no-anim > * {
    animation: none !important;
}

.hero-media.hero-active, .hero-info.hero-active {
    opacity: 100%;
}

@keyframes float {
    from {
        translate: 0 -.75rem;
    }
    to {
        translate: 0 .75rem;
    }
}

.contact h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;

    font-weight: 200;
    font-size: 700%;
    text-align: center;

    /* animation: 1.6s float infinite alternate ease-in-out; */
}

.contact .pfp-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    --size: 15vw;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    
    border: solid 2px var(--fg);
    border-radius: 50%;
}

.contact-name {
    font-size: 300%;
    font-weight: 300;

    margin-top: 0.5rem;
    margin-bottom: 0rem;

    width: 100%;
    text-align: center;
}

.contact-tagline::before {
    content: "- ";
}

.contact-tagline::after {
    content: " -";
}

.contact-tagline {
    font-size: 200%;
    font-weight: 300;
    margin-bottom: 3.5rem;

    width: 100%;
    text-align: center;
}

.contact-button-container {
    display: flex;
    justify-content: center;
}

.contact-button-container > .button:not(:last-child) {
    margin-right: 1em;
}

.contact-button-container .button-mail {
    --button-trans-time: .45s;
}

.creds {
    color: #777;

    margin: 3rem 0;
    width: 100%;
    text-align: center;
    font-size: 165%;
}

.creds li:not(:last-child) {
    margin-bottom: .45rem;
}

.very-bottom {
    height: 5rem;
}
